/* global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #313131;
  color: #f8f2ff;
}

section {
  margin: 30px 0;
}

section h2 {
  font-size: 2.1em;
}

section p {
  font-size: 1.2em;
  opacity: 0.86;
  letter-spacing: 140%;
}

/* layout styles */

.container {
  height: 100vh;
  max-width: 800px;
  margin: 24px auto;
  padding: 1em;
}

/* heading styles */

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

header > div h1 {
  font-size: 2.5em;
  text-align: center;
}

/* image styles */

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .me-image {
    height: 200px;
  }

  header > div {
    gap: 12px;
  }
}

/* truth and lie styles */

.truth-lie-container {
  display: flex;
  gap: 12px;
}

.truth-lie-container button{
  background-color: #6969695c;
  outline: none;
  border: none;

  padding: 5px 10px;
  border-radius: 8px;
  color: #f8f2ff;
}

.truth-lie {
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
}

/* social link styles */

.social-links {
  display: flex;
  gap: 2em;
  justify-content: center;
  width: 100%;
}

.link a {
  color: #6b15d9;
  text-decoration: none;
  font-size: 2em;
}

.hide-ext {
  display: none;
}

.link:hover .hide-ext {
  display: inline;
  width: 2.3em;
}

/* question form styles */

.question-form {
  display: flex;
  gap: 1em;
  margin: 10px 0;
}

.question-form input {
  background-color: #6969695c;
  color: #f8f2ff;
  outline: none;
  border: none;

  font-size: 1.2em;
  padding: 14px 20px;
  border-radius: 8px;
}

.question-form button {
  background-color: #6969695c;
  outline: none;
  border: none;

  padding: 14px 28px;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .question-form input {
    max-width: 250px;
  }

  footer {
    margin-top: 30%;
  }
}

/* footer styles */

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 32%;
}

footer a {
  text-decoration: none;
  color: #f8f2ff;
}

@media only screen and (max-width: 600px) {
  footer {
    margin-top: 30%;
  }
}
